*,
*::before,
*::after{
    box-sizing: border-box;
}

body
{
    background-color: #f9f9f9;
}
/**
HEADER
**/

header
{
    max-width: 1143px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.logo
{
    width: 67px;
    height: 69px;
    margin-top: 62px;
}

.buttons
{
    margin-top: 96px;
}

.buttons a 
{
    margin-left: 15px;
    position: relative;
    z-index: 100;
}

.buttons a:hover:before
{
    content: "";
    width: 111px;
    height: 12px;
    background-color: #e0e8fb;
    display: block;
    position: absolute;
    top: 12px;
    left: 2px;
    z-index: -5;
}

.name
{
    width: 107px;
    height: 24px;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #454545;
    text-decoration: none;
    margin-top: 96px;
}

.separator
{
    max-width: 1143px;
    height: 0px;
    border: solid 1px #454545;
}

@media all and (max-width: 400px)
{
    .menu
    {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .buttons
    {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .name
    {
       font-size: 12px; 
       height: 10px;
       margin-top: 20px;
    }
    
    .separator
    {
        display: none;
    }
}



/**
PROJECTS PRESENTATION
**/

.main
{
    max-width: 1143px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.column1
{
    width: 40%;
    height: 40%;   
    margin-top: 90px;
}

.column2
{
    width: 40%;
    height: 40%;
    margin-top: 300px;

}

@media all and (max-width: 400px)
{
    .main
    {
        width:auto;
        height: 770px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .column1
    {
        margin-top:0px;
    }
    .column2
    {
        width:auto;
        margin-top: 150px;
    }
}
.illu_project_event
{
    width: 582px;
    height: 513px;
}

.illu_project_comm
{
    width: 614px;
    height: 404px;   
}

.illu_project_dev
{
    width: 613px;
    height: 402px;
}

.illu_project_concept
{
    width: 583px;
    height: 440px;
}

.illu_project_design
{
    width: 642px;
    height: 421px;
}

.number_project
{
    font-family: 'OpenSans', sans-serif;
    font-size: 22px;
    letter-spacing: 2.5px;
    color: #454545;
    margin-bottom: 0px;
    position: relative;
}

.number_project::before
{
    content: "";
    width: 154px;
    height: 9px;
    background-color: #fffbca;
    display: block;
    position: absolute;
    top: 15px;
    left: 6px;
    z-index: -5;
}
.column2 p a
{
    text-decoration: none;
    color: #454545;
}

.category_project_comm
{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
    margin-top: 15px;
    margin-bottom: 0px;
}
.category_project_event
{
    font-family: 'Playfair Display', serif;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
    margin-top: 15px;
    margin-bottom: 0px;
}

.category_project_dev
{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 4.4px;
    color: #454545;
    margin-top: 15px;
    margin-bottom: 0px;
}

.category_project_concept
{
    width: 338px;
    height: 72px;
    font-family: 'Playfair Display', serif;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
}

.category_project_design
{
    width: 203px;
    height: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
}

.descri_project
{
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #454545;
}



/**
HOME PAGE
**/


.intro
{
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 8rem;
}

.pic_column
{
    width: 30%;
    margin-top: 55px;
}

.presentation_column
{
    width: 50%;
    margin-top: 250px;
}

.illu_intro 
{
    width: 340px;
    height: 600px;
}
.name_who
{
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-size: 54px;
    color: #454545;
}

.sublue
{
    position: relative;
}

.sublue::before
{
    content: "";
    width: 100%;
    height: 14px;
    background-color: #e0e8fb;
    display: block;
    position: absolute;
    top: 44px;
    left: 17px;
    z-index: -5;
}

.name_who_little
{
    height: 90px;
    font-family: 'OpenSans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
}

.click
{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.see_my_projects
{
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #454545;
    text-decoration: none;
}

/**
About ME
**/

.partpresentation h2
{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
    text-align: center; 
}

.presentation
{
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 8rem;
}

.photome
{
    width: 30%;
    margin: 0 auto;
}

.mypic
{
    width: 300px;
    
}

.textinfo
{
    width: 40%;
    height: 90px;
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #454545;  
}

.textinfo a 
{
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #454545;  
}

.partcompetence
{
    margin-top: 80px;
}

.partcompetence h2
{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
    text-align: center;

}

.competences
{
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
}

.cline
{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.comp
{
    width: 80%;
    height: 103%;
    margin: 0 auto;
}
.comp h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: #454545;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.comp h2::before
{
    content: "";
    width: 69%;
    height: 14px;
    background-color: #BFE0D8;
    display: block;
    position: absolute;
    top: 9px;
    left: 38px;
    z-index: -5;
}


.comp p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #454545;
    text-align: center;
}

.partqualites
{
    margin-top: 80px;
}

.partqualites h2
{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
    text-align: center;   
}

.qualites
{
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
}

.qline
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.qual
{
    width: 20%;
    height: 90%;
    margin: 0 auto; 
}

.qual h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: #454545;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.qual h2::before
{
    content: "";
    width: 69%;
    height: 14px;
    background-color: #DFD9F5;
    display: block;
    position: absolute;
    top: 9px;
    left: 38px;
    z-index: -5;
}

@media all and (max-width: 400px)
{
    .presentation
    {
        width: auto;
        margin: 0 auto;
        padding: 0px 1rem;
        display: flex;
        flex-direction: column;
    }

    .mypic
    {
        width: 220px;
        margin: 0 auto;
    }

    .textinfo
    {
        width: 50%;
        height: 700px;
        margin: 0 auto;
    }
    .textinfo p 
    {
        width: 290px;
        margin: 0 auto;
        padding: 1rem 0px;
    }

    .competences
    {
        width:auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .comp
    {
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .comp h2::before
    {
        content: "";
        width: 49%;
        height: 14px;
        background-color: #BFE0D8;
        display: block;
        position: absolute;
        top: 12px;
        left: 115px;
        z-index: -5;
        margin: 0 auto;
    }

    .qualites
    {
        width:auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .qline
    {
        flex-direction: column;
    }

    .qual
    {
        width: auto;
        margin: 0 auto;
    }

    .qual h2::before
    {
        content: "";
        width: 101%;
        height: 14px;
        background-color: #DFD9F5;
        display: block;
        position: absolute;
        top: 18px;
        left: -1px;
        z-index: -5;
    }
    


}


/**
PROJECT ONE BY ONE
**/

.cat1 img
{
    transform: translate(0%, -20%);
    z-index: -100;
}
.cat2
{
    display: flex;
    flex-direction: column;
}

.bottom
{
    text-align: center;
}
.cat2 h2
{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #454545;
    border-bottom: solid 1px #e7e7e7;
    text-align: center;
    display: inline-block;
}

.content_proj .roles h3
{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: #454545;
    position: relative;
}

.content_proj .roles h3::before
{
    content: "";
    width: 29%;
    height: 14px;
    background-color: #f1dfd0;
    display: block;
    position: absolute;
    top: 13px;
    left: -1px;
    z-index: -5;
}

.content_proj
{
    max-width: 1143px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.roles
{
    width: 30%;
}
.roles p
{
    width: 316px;
    height: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}

.text_proj
{
    width: 60%;
    height: 297px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}
.text_proj_dev
{
    width: 60%;
    height: 297px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}
.text_proj_design
{
    width: 60%;
    height: 297px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}
.text_proj_concept
{
    width: 60%;
    height: 297px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}

.images_proj_dev
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images_proj_dev img
{
    width: 397px;
    height: 706px;
    margin: 3rem 4rem;
}

.images_proj
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.images_proj img
{
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0px;
}

.images_proj_asso img
{
    width: 20%;
    margin: 0 auto;
}
.images_proj_asso
{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

@media all and (max-width: 400px)
{
    .cat1 img 
    {
        transform: translate(0%,5%);
    }
    .content_proj
    {
        width: auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        flex-direction: column;
    }

    .text_proj_dev
    {
        width: auto;
        height: 535px;
    }

    .text_proj
    {
        width: auto;
        height: 180px;
    }

    .text_proj_design
    {
        width: auto;
        height: 400px;
    }
    .text_proj_concept
    {
        width: auto;
        height: 650px;
    }
}
