*,
*::before,
*::after{
    box-sizing: border-box;
}

body
{
    background-color: #f9f9f9;
}
/**
HEADER
**/

header
{
    max-width: 1143px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.menu
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.logo
{
    width: 67px;
    height: 69px;
    margin-top: 62px;
}

.buttons
{
    margin-top: 96px;
}

.buttons a 
{
    margin-left: 15px;
    position: relative;
    z-index: 100;
}

.buttons a:hover:before
{
    content: "";
    width: 111px;
    height: 12px;
    background-color: #e0e8fb;
    display: block;
    position: absolute;
    top: 12px;
    left: 2px;
    z-index: -5;
}

.name
{
    width: 107px;
    height: 24px;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #454545;
    text-decoration: none;
    margin-top: 96px;
}

.separator
{
    max-width: 1143px;
    height: 0px;
    border: solid 1px #454545;
}

@media all and (max-width: 600px)
{
    .menu
    {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .buttons
    {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .logo
    {
        margin-top: 0px;
    }
    .name
    {
       font-size: 12px; 
       height: 10px;
       margin-top: 20px;
    }
    
    .separator
    {
        display: none;
    }
}



/**
PROJECTS PRESENTATION
**/

.main
{
    max-width: 1143px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.column1
{
    width: 50%;
    height: 40%;   
    margin-top: 90px;
}

.column2
{
    width: 40%;
    height: 40%;
    margin-top: 300px;

}

@media all and (max-width: 600px)
{
    .main
    {
        width:auto;
        height: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .column1
    {
        margin-top:0px;
        width: 100%;
        height: 0%;
    }
    .column2
    {
        width:auto;
        margin-top: 200px;
    }

    .category_project a
    {
        font-size: 0.8em;
    }
}
.illu_project
{
    width: 100%;
}

.number_project
{
    font-family: 'OpenSans', sans-serif;
    font-size: 22px;
    letter-spacing: 2.5px;
    color: #454545;
    margin-bottom: 0px;
    position: relative;
}

.number_project::before
{
    content: "";
    width: 154px;
    height: 9px;
    background-color: #fffbca;
    display: block;
    position: absolute;
    top: 15px;
    left: 6px;
    z-index: -5;
}
.column2 p a
{
    text-decoration: none;
    color: #454545;
}

.category_project
{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
}

.descri_project
{
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #454545;
}



/**
HOME PAGE
**/


.intro
{
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 8rem;
}

.pic_column
{
    width: 30%;
    margin-top: 55px;
}

.presentation_column
{
    width: 50%;
    margin-top: 250px;
}

.illu_intro 
{
    width: 340px;
    height: 600px;
}
.name_who
{
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-size: 54px;
    color: #454545;
}

.sublue
{
    position: relative;
}

.sublue::before
{
    content: "";
    width: 100%;
    height: 14px;
    background-color: #e0e8fb;
    display: block;
    position: absolute;
    top: 44px;
    left: 17px;
    z-index: -5;
}

.name_who_little
{
    height: 90px;
    font-family: 'OpenSans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #454545;
}

.click
{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.see_my_projects
{
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #454545;
    text-decoration: none;
}

@media all and (max-width: 600px)
{
    .intro
    {
        width: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
        flex-direction: column;
    }

    .pic_column
    {
        width: 78%;
        margin: 0 auto;
    }

    .illu_intro
    {
        width: 100%;
        height: 20%;
    }

    .presentation_column
    {
        width: 100%;
        margin-top: 0px;
    }
}

/**
About ME
**/

.partpresentation h2
{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
    text-align: center; 
}

.presentation
{
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 8rem;
}

.photome
{
    width: 30%;
    margin: 0 auto;
}

.mypic
{
    width: 300px;
    
}

.textinfo
{
    width: 40%;
    height: 90px;
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #454545;  
}

.textinfo a 
{
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #454545;  
}

.partcompetence
{
    margin-top: 80px;
}

.partcompetence h2
{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
    text-align: center;

}

.competences
{
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
}

.cline
{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.comp
{
    width: 80%;
    height: 103%;
    margin: 0 auto;
}
.comp h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: #454545;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.comp h2::before
{
    content: "";
    width: 69%;
    height: 14px;
    background-color: #BFE0D8;
    display: block;
    position: absolute;
    top: 9px;
    left: 38px;
    z-index: -5;
}


.comp p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #454545;
    text-align: center;
}

.partqualites
{
    margin-top: 80px;
}

.partqualites h2
{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5.2px;
    color: #454545;
    text-align: center;   
}

.qualites
{
    max-width: 1143px;
    margin: 0 auto;
    display: flex;
}

.qline
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.qual
{
    width: 20%;
    height: 90%;
    margin: 0 auto; 
}

.qual h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    color: #454545;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.qual h2::before
{
    content: "";
    width: 69%;
    height: 14px;
    background-color: #DFD9F5;
    display: block;
    position: absolute;
    top: 9px;
    left: 38px;
    z-index: -5;
}

@media all and (max-width: 600px)
{
    .presentation
    {
        width: auto;
        margin: 0 auto;
        padding: 0px 1rem;
        display: flex;
        flex-direction: column;
    }

    .photome
    {
        width: 60%;
        margin: 0 auto;
    }
    .mypic
    {
        width: 220px;
        margin: 0 auto;
    }

    .textinfo
    {
        width: 80%;
        height: 610px;
        margin: 0 auto;
    }
    .textinfo p 
    {
        width: 290px;
        margin: 0 auto;
        padding: 1rem 0px;
    }

    .competences
    {
        width:auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .comp
    {
        width: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .comp h2::before
    {
        content: "";
        width: 49%;
        height: 14px;
        background-color: #BFE0D8;
        display: block;
        position: absolute;
        top: 12px;
        left: 115px;
        z-index: -5;
        margin: 0 auto;
    }

    .qualites
    {
        width:auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .qline
    {
        flex-direction: column;
    }

    .qual
    {
        width: auto;
        margin: 0 auto;
    }

    .qual h2::before
    {
        content: "";
        width: 101%;
        height: 14px;
        background-color: #DFD9F5;
        display: block;
        position: absolute;
        top: 18px;
        left: -1px;
        z-index: -5;
    }
    


}


/**
PROJECT ONE BY ONE
**/

.cat1 img
{
    transform: translate(0%, -20%);
    z-index: -100;
}
.cat2
{
    display: flex;
    flex-direction: column;
}

.bottom
{
    text-align: center;
}
.cat2 h2
{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #454545;
    border-bottom: solid 1px #e7e7e7;
    text-align: center;
    display: inline-block;
}

.content_proj .roles h3
{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: #454545;
    position: relative;
}

.content_proj .roles h3::before
{
    content: "";
    width: 29%;
    height: 14px;
    background-color: #f1dfd0;
    display: block;
    position: absolute;
    top: 13px;
    left: -1px;
    z-index: -5;
}

.content_proj
{
    max-width: 1143px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.roles
{
    width: 30%;
}
.roles p
{
    width: 316px;
    height: 27px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}

.text_proj
{
    width: 60%;
    height: 297px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}
.text_proj_dev
{
    width: 60%;
    height: 297px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}
.text_proj_design
{
    width: 60%;
    height: 297px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}
.text_proj_concept
{
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}
.text_proj_comm
{
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}
.text_proj_asso
{
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #454545;
}

.images_proj_dev
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images_proj_dev img
{
    width: 397px;
    height: 706px;
    margin: 4rem 4rem;
}

.images_proj
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.images_proj_comm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.images_proj_comm img
{
    width: 70%;
    margin: 0 auto;
    padding: 6rem 0rem;
}
.images_proj img
{
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0px;
}

.images_proj_asso img
{
    width: 20%;
    margin: 0 auto;
}
.images_proj_asso
{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

@media all and (max-width: 600px)
{
    .cat1 img 
    {
        transform: translate(0%,5%);
    }
    .content_proj
    {
        width: auto;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        flex-direction: column;
    }

    .text_proj_dev
    {
        width: auto;
        height: 535px;
    }

    .text_proj
    {
        width: auto;
        height: 180px;
    }
    .text_proj_asso
    {
        width: auto;
        height: 280px;
    }

    .text_proj_design
    {
        width: auto;
        height: 400px;
    }
    .text_proj_concept
    {
        width: auto;
        height: 725px;
    }
    .images_proj_comm img
    {
        width: 70%;
        margin: 0 auto;
        padding: 1rem 0rem;
    }
    .text_proj_comm
    {
        width: auto;
        height: 700px;
    }
}

/**
** CONTACT
**/
.illu_form
{
    width: 50%;
    height: 100vh;
}

.illu_form img
{   

    transform: translate(-2%, -18%);
    border: solid 1px #979797;
    background-color: #e0e8fb;
}

.contact_form
{   
    width: 50%;
    display: flex;
    flex-direction: column;
}

.page
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form 
{
    width: 65%;
    margin: 0 auto;
}

.form .element 
{
    width: 100%;
    margin-top: 30px;
}

.form .element label 
{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.7px;
    color: #979797;
}
.inputBlock {

    background-color: #f9f9f9;
    border: solid 1px #979797;
    width: 397px;
    height: 41px;
}
.inputBlock2
{
    background-color: #e0e8fb;
    width: 397px;
    height: 43px;
    margin-top: 10px;
    font-family: PlayfairDisplay;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1.7px;
    color: #ffffff;
}

.one
{
    padding-left: 2rem;
    padding-top: 2rem;
}

.contact_form div h2
{
    width: 80%;
    padding: 1rem 1rem;
    font-family: PlayfairDisplay;
    font-size: 31px;
    letter-spacing: 1.7px;
    color: #3d3d3d;
    position: relative;
}

.contact_form div h2::before
{
    content: "";
    width: 74%;
    height: 12px;
    background-color: #e0e8fb;
    display: block;
    position: absolute;
    top: 40px;
    left: 23px;
    z-index: -5;
}

@media all and (max-width: 600px)
{
    .illu_form
    {
        display:none;
    }

    .inputBlock
    {
        width:300px;
    }
    .inputBlock2
    {
        width:300px;
    }
}